{% extends "gestion_prod/base.html" %}
{% block title %}Sign Up{% endblock title %}
{% block content %}

<div class="signup-form">
    <h1 class="ma">Sign Up</h1>
    <form method="POST" id="registration-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button type="submit">Sign Up</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById("registration-form");
        var formElements = form.elements;

        for (var i = 0; i < formElements.length; i++) {
            formElements[i].addEventListener("blur", function(event) {
                var inputField = event.target;
                var errorContainer = inputField.nextElementSibling;
                errorContainer.innerHTML = inputField.validationMessage;
            });
        }
    });
</script>

{% endblock content %}
